@if (_isVisible)
{
    <div class="fullscreen-loading">
        <MudProgressCircular Indeterminate="true" Size="MudBlazor.Size.Small" /> @* Adjust size as needed *@
    </div>
}

@code {
    [Parameter]
    public bool _isVisible { get; set; }
}
<style>
    .fullscreen-loading {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.8); /* Optional: Adds a semi-transparent background */
        z-index: 1000; /* Ensure it's above other content */
    }
</style>
