@page "/dangnhap"
@model DATN.ADMIN.Pages.LoginModel
@using DATN.Aplication.CustomProvider
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using DATN.Data.Entities
@namespace DATN.ADMIN.Pages
@inject HttpContextAccessor _contextAccessor
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Đăng nhập</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <a href="/"><img src="img/logo_name.png" class="img-fluid h-4 mb-4" style="width: 150px; height: 150px;"></a>
                        </div>
                        <div>
                            <form method="post">
                                <input type="hidden">
                                <!-- Email Address -->
                                <div>
                                    <label class="form-label" for="email">Email</label>
                                    <input class="form-control" id="email" name="email" value="binh123" required="required" autofocus="autofocus">
                                </div>
                                <!-- Password -->
                                <div class="mt-4">
                                    <label class="form-label" for="password">Mật khẩu</label>
                                    <input class="form-control" id="password" type="password" value="Binh123@@" name="password" required="required" autocomplete="current-password" placeholder="abc@123">
                                </div>

                                <!-- Remember Me -->
                                <div class="mt-4">
                                    <div class="d-flex align-items-center justify-content-between mt-4">
                                        <label for="remember_me" class="d-inline-flex">
                                            <input type="checkbox" name="remember" class="form-check-input">
                                            <span class="ms-2">Nhớ thông tin</span>
                                        </label>
                                        <a class="underline text-sm text-gray-600 hover:text-gray-900" asp-page="ForGotPassword">Quên mật khẩu?</a>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mt-4">
                                    <button type="submit" id="btn" onclick="@Model.HandleLogin()" class="btn btn-outline-info">Đăng nhập</button>
                                </div>
                            </form>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>