@page "/quanlynhanvien"
@using DATN.ADMIN.Data

<PageTitle>Quản lý nhân viên</PageTitle>
@if (showPopup)
{
    <div class="overlay"></div>
    <div class="modal fade show " tabindex="-1" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title w-100">Thêm nhân viên</h5>
                    <button type="button" class="close" @onclick="ClosePopup">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="name">Tên:</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="name">User Name:</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="phoneNumber">Số điện thoại:</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="address">Địa chỉ:</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="gender">Giới tính:</label>
                            <select class="form-select">
                                <option selected>Giới tính</option>
                                <option value="1">Nam</option>
                                <option value="2">Nữ</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" @onclick="ClosePopup">Huỷ</button>
                    <button type="button" class="btn btn-success">Thêm</button>
                </div>
            </div>
        </div>
    </div>
}

<div class="content-wrapper p-4">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <h2 class="">Danh sách nhân viên</h2>
            <div class="justify-content-end">
                <button class="btn btn-primary fst-normal pb-2 " @onclick="OpenPopup"><span class="fa fa-plus-circle"></span> Thêm Mới</button>
            </div>
        </div>
    </nav>
    @if (response.Data == null || response.Data.Count == 0)
    {
        <DATN.ADMIN.Components.LoadingIndicator></DATN.ADMIN.Components.LoadingIndicator>
    }
    else
    {

        <form class="d-flex justify-content-between mb-3" role="search">
            <div data-select2-id="select2-data-211-6hs9">
                <div data-select2-id="select2-data-210-oeq5">
                    <form class="d-flex gap-3 align-items-stretch flex-md-row flex-column form-disabled" onclick="handleCheckboxClick()">
                        <input type="hidden">
                        <div class="mr-3">
                            <select name="action_type" class="form-control select2 col-12 status-select" id="quick-action-type" style="width:100%" tabindex="-1" aria-hidden="true" disabled>
                                <option value="shift" id="shifthan">Chọn ca làm</option>
                                <option value="changeStatus" id="st">Trạng Thái</option>
                                <option value="delete" id="del">Xóa</option>
                            </select>
                        </div>
                        <div class="select-status quick-action-field d-none ms-3 mr-3" id="change-status-action" >
                            <select name="status" class="form-control select2 select2-hidden-accessible" id="status" style="width:100%" tabindex="-1" aria-hidden="true" data-select2-id="select2-data-status">
                                <option value="1">Ca sáng</option>
                                <option value="2">Ca Chiều</option>
                                <option value="3">Ca Tối</option>
                            </select>
                        </div>
                           <div class="select-status quick-action-field d-none ms-3" id="change-status-up">
                            <select name="status" class="form-control select2 select2-hidden-accessible" id="status" style="width:100%" tabindex="-1" aria-hidden="true" data-select2-id="select2-data-status">
                                <option value="1">Ngừng hoạt động</option>
                                <option value="2">Hoạt động</option>
                            </select>
                        </div>
                        <button class="btn btn-success" id="quick-action-apply" disabled="disabled" onclick="handleConfirmClick()">Đồng ý</button>
                    </form>
                </div>
            </div>
            <div class="d-flex w-25">
                <input class="form-control mr-3 fst-normal" type="search" placeholder="Tìm kiếm" aria-label="Search">
            </div>
        </form>
        <table class="table">
            <thead>
                <tr class="text-center">
                    <th scope="col" >#</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Số điện thoại</th>
                    <th scope="col">Email</th>
                    <th scope="col">Địa chỉ</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col">Hành động</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in response.Data)
                {
                    <tr class="text-center">
                        <th scope="row"><input type="checkbox" onchange="handleCheckboxClick()" /></th>
                        <td>@i.Name</td>
                        <td>@i.PhoneNumber</td>
                        <td>@i.Email</td>
                        <td>@i.Address</td>
                        <td>
                            <label class="switch">
                                <input type="checkbox">
                                <span class="slider"></span>
                            </label>
                        </td>
                        <td>
                            <button class="btn btn-info"><i class="fa fa-street-view"> Xem</i></button>
                            <button class="btn btn-warning"><i class="fa fa-edit"> Sửa</i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>


<style>
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2); /* Màu nền nhạt */
        z-index: 1000; /* Đảm bảo lớp overlay ở phía trên cùng */
    }

    .switch {
        --secondary-container: #3a4b39;
        --primary: white;
        font-size: 13px;
        position: relative;
        display: inline-block;
        width: 3.7em;
        height: 1.8em;
    }

        .switch input {
            display: none;
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #313033;
        transition: .2s;
        border-radius: 30px;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 1.4em;
            width: 1.4em;
            border-radius: 20px;
            left: 0.2em;
            bottom: 0.2em;
            background-color: #aeaaae;
            transition: .4s;
        }

    input:checked + .slider::before {
        background-color: var(--primary);
    }

    input:checked + .slider {
        background-color: var(--secondary-container);
    }

    input:focus + .slider {
        box-shadow: 0 0 1px var(--secondary-container);
    }

    input:checked + .slider:before {
        transform: translateX(1.9em);
    }
</style>

<script>
    function handleCheckboxClick() {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        var select = document.getElementById('quick-action-type');
        // chọn ca làm
        var changeStatusAction = document.getElementById('change-status-action');
        //tài khoản ngừng và hoạt động
        var changeStatusup = document.getElementById('change-status-up')
        //button đồng a
        var confirmButton = document.getElementById('quick-action-apply');
        var checkedCheckboxes = Array.from(checkboxes).filter(function (checkbox) {
            return checkbox.checked;
        });

        if (checkedCheckboxes.length > 0) {
            select.disabled = false;
             confirmButton.disabled = false; // Enable button Đồng ý
            // nếu người dùng chọn vào "Trạng Thái", hiển thị combox trạng thái
            if (select.value === "changeStatus") {
                changeStatusAction.classList.remove('d-none');
                changeStatusUp.classList.add('d-none');
            }
            // nếu người dùng chọn vào "Xóa", ẩn combox
            else if (select.value === "delete") {
                changeStatusAction.classList.remove('d-none');
                changeStatusUp.classList.add('d-none');
                   confirmButton.classList.add('btn-danger');
            } 
            // nếu người dùng chọn vào "Chọn ca làm", hiển thị ra combo box
            else if (select.value === "shift") {
                 changeStatusAction.classList.remove('d-none');
                changeStatusUp.classList.add('d-none');
            }
        } else {
            // nếu không chọn checkbox ẩn hết
            select.disabled = true;
            confirmButton.disabled = true;
            changeStatusAction.classList.add('d-none');
            changeStatusUp.classList.add('d-none');
            select.textContent = '';
        }
    }

    function handleConfirmClick() {
        // Logic để xác nhận hành động ở đây
        // Hiển thị modal xác nhận hoặc thực thi hành động tương ứng
        // Ví dụ: $('#confirmationModal').modal('show');
    }
</script>
