@inherits LayoutComponentBase

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheckIn Arrive</title>
    <!-- Thêm các liên kết CSS và JavaScript ở đây nếu cần -->
</head>
<body>
    @Body
    <!-- Thêm các phần tử chung khác như footer ở đây nếu cần -->
</body>
</html>
