@inherits LayoutComponentBase

<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>


    <main>
        <!-- /.navbar -->
        <article class="hold-transition sidebar-mini layout-fixed">
            @Body
        </article>
    </main>
</div>
