@inherits LayoutComponentBase

<PageTitle>Trang chu</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
                <!-- Left navbar links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                    </li>
                </ul>
                <!-- Right navbar links -->
                <ul class="navbar-nav ml-auto">
                    <!-- Notifications Dropdown Menu -->
                    <li class="nav-item dropdown">
                        <a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="far fa-bell"></i>
                            <span class="badge badge-warning navbar-badge">15</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <span class="dropdown-item dropdown-header">Tất Cả Thông báo (15)</span>
                            <div class="dropdown-divider"></div>
                        <div class="card-body overflow-auto card-header-border p-0 card-body-list max-17 scroll-thin">
                            <div class="dropdown-menu-1 overflow-y-auto list-style-1 mb-0 notification-height">
                                <div class="dropdown-item-1 float-none p-3 list-unstyled iq-sub-card notify-list-bg ">
                                    <a href="#" class="">
                                        <div class="d-flex justify-content-between">
                                            <h6>Đơn Đặt Dịch Vụ Mới</h6>
                                            <h6>#1</h6>
                                        </div>
                                        <div class="list-item d-flex">
                                            <div class="me-3 mt-1">
                                                <button type="button" class="btn btn-soft-primary btn-icon rounded-pill">
                                                    C
                                                </button>
                                            </div>
                                            <div class="list-style-detail">
                                                <p class="text-body mb-1">Người dùng đã đặt dịch vụ <span class="text-primary">Chăm sóc</span> đặt bởi <span class="text-black">chí</span></p>
                                                <div class="d-flex justify-content-between">
                                                    <p class="text-body">10/05/2024</p>
                                                    <p class="text-body">07:15 AM</p>
                                                </div>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="dropdown-menu-1 overflow-y-auto list-style-1 mb-0 notification-height">
                                <div class="dropdown-item-1 float-none p-3 list-unstyled iq-sub-card notify-list-bg ">
                                    <a href="#" class="">
                                        <div class="d-flex justify-content-between">
                                            <h6>Đơn Đặt Dịch Vụ Mới</h6>
                                            <h6>#2</h6>
                                        </div>
                                        <div class="list-item d-flex">
                                            <div class="me-3 mt-1">
                                                <button type="button" class="btn btn-soft-primary btn-icon rounded-pill">
                                                    C
                                                </button>
                                            </div>
                                            <div class="list-style-detail">
                                                <p class="text-body mb-1">Người dùng đã đặt dịch vụ <span class="text-primary">Chăm sóc</span> đặt bởi <span class="text-black">chí</span></p>
                                                <div class="d-flex justify-content-between">
                                                    <p class="text-body">10/05/2024</p>
                                                    <p class="text-body">07:15 AM</p>
                                                </div>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div><div class="dropdown-menu-1 overflow-y-auto list-style-1 mb-0 notification-height">
                                <div class="dropdown-item-1 float-none p-3 list-unstyled iq-sub-card notify-list-bg ">
                                    <a href="#" class="">
                                        <div class="d-flex justify-content-between">
                                            <h6>Đơn Đặt Dịch Vụ Mới</h6>
                                            <h6>#3</h6>
                                        </div>
                                        <div class="list-item d-flex">
                                            <div class="me-3 mt-1">
                                                <button type="button" class="btn btn-soft-primary btn-icon rounded-pill">
                                                    C
                                                </button>
                                            </div>
                                            <div class="list-style-detail">
                                                <p class="text-body mb-1">Người dùng đã đặt dịch vụ <span class="text-primary">Chăm sóc</span> đặt bởi <span class="text-black">chí</span></p>
                                                <div class="d-flex justify-content-between">
                                                    <p class="text-body">10/05/2024</p>
                                                    <p class="text-body">07:15 AM</p>
                                                </div>

                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                            <div class="dropdown-divider"></div>
                           <div class="card-footer py-2 border-top">
                    <div class="d-flex align-items-center justify-content-between">
                            <a href="#" data-type="markas_read" class="text-primary mb-0 notifyList pull-right"><span>Đánh Dấu Tất Cả Là Đã Đọc</span></a>
                             <a href="#" class="btn btn-sm btn-primary">Xem Tất Cả</a>
                    </div>  
                    </div>
                </div>
                    </li>
                   @*  <li class="nav-item">
                        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                            <i class="fas fa-th-large"></i>
                        </a>
                    </li> *@
                   <!--user-->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="fa fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">Demo Admin</span>
                        <div class="dropdown-divider"></div>
                        <a href="profileUser" class="dropdown-item">
                            <i class="fas fa-user-circle"></i>  Hồ Sơ Của Tôi
                        </a>
                        <div class="dropdown-divider"></div>
                        <a asp-page="Login" class="dropdown-item dropdown-footer"><i class="fa fa-sign-out">Đăng Xuất</i></a>
                    </div>
                </li>
                </ul>
            </nav>
            <!-- /.navbar -->

        <article class="hold-transition sidebar-mini layout-fixed">
            @Body
        </article>
    </main>
</div>
