@inherits LayoutComponentBase
<PageTitle>Trang chu</PageTitle>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <article class="hold-transition sidebar-mini layout-fixed">
            @Body
        </article>
    </main>
</div>
