@using DATN.ADMIN.IServices
@inject ISnackbar snackbar
<div style="margin: 20px">
    <p><b>Lý do huỷ</b>: @test</p>
</div>
@code {
    [Parameter]
    public int? id { get; set; }
    [Inject]
    IBookingViewServices bookingViewServices { get; set; }
    public string test { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var response = await bookingViewServices.GetReasonCancelBooking(id.Value);

        if (response.IsSuccess)
        {
            test = response.Data.FirstOrDefault().Description;
            StateHasChanged();
        }
        else
        {
            snackbar.Add(response.Error, Severity.Warning);
        }
    }
}
