<div style="text-align:center">
    @* <img src="@linkqr" height="640px" width="540px"> *@
    <img src="@linkqr" height="200" width="200">
</div>

@code {
    [Parameter]
    public string linkqr { get; set; }
    protected override Task OnInitializedAsync()
    {
        var test = linkqr;
        return base.OnInitializedAsync();
    }
}
