<AuthorizeView Roles="Admin">
    <Authorized>
        @using DATN.ADMIN.IServices
        @using DATN.Utilites
        @using DATN.ViewModels.DTOs.Booking
        @inject IJSRuntime jsRuntime;
        @inject IAddressService _addressServive;

        
        @code {
        [Parameter]
        public Bill BillInvoice { get; set; }
        }
        
        @code {
        protected override async Task OnInitializedAsync()
        {
            await Task.Delay(500);
            await jsRuntime.InvokeVoidAsync("window.print");
        }
        }

    </Authorized>
    <NotAuthorized>
        <p>Không có quyền truy cập</p>
    </NotAuthorized>
</AuthorizeView>
