@inject IJSRuntime jsRuntime;
<div class="div-content">
    <h3>MEW SHOP</h3>
    <div>
        <p>Địa chỉ: Quận Ba Đình, Thành Phố Hà Nội</p>
        <p>Thời gian: 11.08.2024 05:06</p>
        <p>Nhân viên: Việt Nguyễn</p>
        <p>Khách hàng: khách lẻ | khách chẵn</p>
        <div>
            mã qr
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên dịch vụ</th>
                <th scope="col">Giá dịch vụ</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Giá sản phẩm</th>
                <th scope="col">Tổng tiền</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Cắt tỉa lông</td>
                <td>20.000 VNĐ</td>
                <td>Bánh mì cho chó</td>
                <td>30.000 VNĐ</td>
                <td>50.000 VNĐ</td>
            </tr>
        </tbody>
    </table>
    <p><b>Thành tiền:</b> 50.000 VNĐ</p>
    <p><b>Giảm giá:</b> 5.000</p>
    <p><b>Thanh toán:</b> 45.000 VNĐ</p>
    <p><b>Tiền khách trả:</b> 45.000 VNĐ</p>
</div>
@code {

}
<style>
    .div-content {
        font-family: Arial, sans-serif;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        width: 90%;
        max-width: 800px;
        margin: 0 auto;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }

    h3 {
        color: #333;
        text-align: center;
    }

    p {
        margin: 0;
        padding: 5px 0;
        margin-left: 5px;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

        .table th, .table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .table th {
            background-color: #f4f4f4;
        }

        .table td {
            background-color: #fafafa;
        }

        .table thead {
            background-color: #f9f9f9;
        }

        .table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .table tr:hover {
            background-color: #eaeaea;
        }

</style>
@code {
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        await jsRuntime.InvokeVoidAsync("window.print");
        
    }
}
