@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@using DATN.ADMIN.Pages
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="typeof(MainLayout)">
                <Authorizing>
                    <h3>Authorizing...</h3>
                </Authorizing>
                <NotAuthorized>
                    <h3>Not authorized</h3>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <h3>Sorry, there's nothing at this address.</h3>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    [Inject]
    protected IHttpContextAccessor httpContextAccessor { get; set; }
    [Inject]
    protected NavigationManager navigationManager { get; set; }
    [Inject]
    AuthenticationStateProvider authenticationStateProvider { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (!user.Identity.IsAuthenticated)
        {
            // Chuyển hướng đến trang đăng nhập
            navigationManager.NavigateTo("/dangnhap");
        }
        else
        {
            navigationManager.NavigateTo("/trangchu");
        }
    }
   
}
