@page "/quenMatKhau"
@using Microsoft.AspNetCore.Components.Web
@namespace DATN.ADMIN.Pages
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Quên mật khẩu?</title>
</head>
<body>
    <!-- Loader Start -->
    <div id="loading">
    </div>
    <!-- Loader End -->
    <div>
        <div class="container">
            <div class="row justify-content-center align-items-center vh-100">
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center">
                                <a href="/"><img src="img/logo_name.png" class="img-fluid h-4 mb-4" style="height: 150px; width: 150px;"></a>
                            </div>
                            <div>
                                <div class="my-4">Quên mật khẩu? Bạn hãy cố nhớ lại mật khẩu cũ của mình!.</div>
                                <form>
                                    <input type="hidden">
                                    <!-- Email Address -->
                                    <div>
                                        <label class="form-label" for="email">Email</label>
                                        <input class="form-control mt-1" id="email" type="email" name="email" required="required" autofocus="autofocus">
                                    </div>
                                    <div class="d-flex align-items-center mt-4">
                                        <a class="underline text-sm text-gray-600 hover:text-gray-900" href="/dangnhap" style="text-decoration:none">Quay lại trang đăng nhập</a>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center mt-4">
                                        <button type="submit" class="btn btn-info w-100 text-white">Liên kết đặt lại mật khẩu email</button>
                                    </div>
                                </form>
                            </div>
                            <div class="text-center mt-3 d-none">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>